<div id="<%= dom_id month %>">
  <p>
    <strong>Name:</strong>
    <%= month.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= month.year %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= month.income %>
  </p>

  <p>
    <strong>Rent:</strong>
    <%= month.rent %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= month.food %>
  </p>

  <p>
    <strong>Saving:</strong>
    <%= month.saving %>
  </p>

</div>
