<p style="color: green"><%= notice %></p>

<div class="navbar">
  <div id="months">
    <% @months.each do |month| %>
      <%= link_to "#{month.name}", month %>
    <% end %>
  </div>
</div>

<div id="months">
  <% @months.each do |month| %>
    <%= render month %>
    <p>
      <%= link_to "Show #{month.name}", month %>
    </p>
  <% end %>
</div>

<%= link_to "New month", new_month_path %>
