<p style="color: green"><%= notice %></p>

<div class="monthbar">
  <div id="months">
    <% @months.each do |month| %>
      <%= link_to "#{month.name}", month %>
    <% end %>
  </div>
</div>

<br><br>
<div id="months">
  <table class="table-hover" border="1">
    <tr>
      <td width="70"><b> Item </b></td>
      <% @months.each do | month | %>
        <td width="75" align="center"> <b> <%= "#{month.name}" %> </b> </td>
      <% end %>
    </tr>
    <tr>
      <td><b> Income </b></td>
      <% @months.each do | month | %>
        <td align="right"> <%= "#{month.income}" %> </td>
      <% end %>
    </tr>
    <tr>
      <td><b> Rent </b></td>
      <% @months.each do | month | %>
        <td align="right"> <%= "#{month.rent}" %> </td>
      <% end %>
    </tr>
    <tr>
      <td><b> Food </b></td>
      <% @months.each do | month | %>
        <td align="right"> <%= "#{month.food}" %> </td>
      <% end %>
    </tr>
    <tr>
      <td><b> Saving </b></td>
      <% @months.each do | month | %>
        <td align="right"> <%= "#{month.saving}" %> </td>
      <% end %>
    </tr>
  </table>
</div>

<br>
<%= link_to "Create a new month", new_month_path %>
