<p style="color: green"><%= notice %></p>

<%= render @month %>

<div>
  <%= link_to "Edit this month", edit_month_path(@month) %> |
  <%= link_to "Back to months", months_path %>

  <%= button_to "Destroy this month", @month, method: :delete %>
</div>
